<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.evercam.androidapp"
    android:versionCode="20"
    android:versionName="1.1.2 Alpha 12/08/2014" >

    <!-- versionCode15 - versionName1.1.2 Alpha3 - 31/07/2014 - Limit camera per row, account manage changes, removed some permissions. -->
    <!-- versionCode16 - versionName1.1.2 Alpha4 - 01/08/2014 - Account management style changes, log out confirm, error message style -->
    <!-- versionCode18 - versionName1.1.2 Alpha - 06/08/2014 - Sign in with Email, digest authentication -->
    <!-- versionCode19 - versionName1.1.2 Alpha - 07/08/2014 - Basic add camera page -->
    <!-- versionCode20 - versionName1.1.2 Alpha - 12/08/2014 - Fill vendor model and defaults -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Cache requires it. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Only used for auto filling user's profile when create account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EvercamPlayApplication"
        android:allowBackup="false"
        android:icon="@drawable/evercam_play_192x192"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- Theme.Black.NoTitleBar previous value -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker" />

        <activity
            android:name=".video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name=".SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeActivitySplash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:logo="@drawable/icon_192x192"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!--
        <activity
            android:name=".ReleaseNotesActivity"
            android:label="@string/app_name" >
        </activity>
        -->
        <activity
            android:name=".custom.AboutDialog"
            android:label="@string/app_name"
            android:theme="@style/ThemeDialogNoTitle" >
        </activity>
        <!-- Theme.DeviceDefault.Dialog.NoActionBar.MinWidth -->

        <activity
            android:name=".rvideo.RVideoDateTimeDialog"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".rvideo.RVideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity android:name=".ManageAccountsActivity" >
        </activity>
        <activity
            android:name=".CamerasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:logo="@drawable/icon_192x192" >
        </activity>
        <activity
            android:name=".CameraPrefsActivity"
            android:label="Settings" >
        </activity>

        <!-- Video Showing Activities -->
        <!--
        <activity
            android:name=".ivideo.IVideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity android:name=".ivideo.IVideoPrefsActivity" >
        </activity>
        -->
        <activity android:name=".video.VideoPrefsActivity" >
        </activity>
        <!--
        <activity
            android:name=".rtspvideo.RTSPVideoViewActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        -->
        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="io.evercam.androidapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddCameraActivity"
            android:logo="@drawable/icon_192x192"
            android:label="@string/title_activity_add_camera"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>