<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.evercam.androidapp"
    android:versionCode="56"
    android:versionName="1.2.4 (Debug)" >

    <!-- versionCode36 - 1.1.7  - Hikvision local storage, first page loading faster -->
    <!-- versionCode39 - 1.1.8 - Only load snapshots for cameras within screen, new offline image -->
    <!-- versionCode40 - 1.1.9 - Bug fixes -->
    <!-- versionCode42 - 1.2.0 - Faster network scan -->
    <!-- versionCode44 - 1.2.1 - Bug fixes for scanning -->
    <!-- versionCode46 - 1.2.2 - Return buttons, alert before leaving scanning, fix scan crash -->
    <!-- versionCode53 - 1.2.3 - port range check, date & time, new camera title, feedback, logentries, firebase, jpg view improvements-->
    <!-- versionCode56 - 1.2.4 Alpha 08/12 - Take snapshot, show time based on timezone, -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Cache requires it. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Only used for auto filling user's profile when create account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".EvercamPlayApplication"
        android:allowBackup="false"
        android:icon="@drawable/evercam_play_192x192"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- Theme.Black.NoTitleBar previous value -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker" />

        <activity
            android:name=".video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name=".SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeActivitySplash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:logo="@drawable/icon_192x192"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".custom.AboutDialog"
            android:label="@string/app_name"
            android:theme="@style/ThemeDialogNoTitle" >
        </activity>
        <!-- Theme.DeviceDefault.Dialog.NoActionBar.MinWidth -->

        <activity
            android:name=".rvideo.RVideoDateTimeDialog"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".rvideo.RVideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" >
        </activity>
        <activity android:name=".ManageAccountsActivity" >
        </activity>
        <activity
            android:name=".CamerasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:launchMode="singleTop"
            android:logo="@drawable/icon_192x192" >
        </activity>
        <activity
            android:name=".CameraPrefsActivity"
            android:label="@string/title_settings" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="io.evercam.androidapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddEditCameraActivity"
            android:label="@string/title_activity_add_camera"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ViewCameraActivity"
            android:label="@string/title_activity_view_camera"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name=".ReleaseNotesActivity"
            android:label="@string/title_release_notes"
            android:logo="@drawable/icon_192x192" >
        </activity>
        <activity
            android:name=".LocalStorageActivity"
            android:label="@string/title_activity_local_storage">
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
    </application>

</manifest>