<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.evercam.androidapp"
          android:versionCode="88"
          android:versionName="1.3.1">

    <!-- versionCode36 - 1.1.7 - Hikvision local storage, first page loading faster -->
    <!-- versionCode39 - 1.1.8 - Only load snapshots for cameras within screen, new offline image -->
    <!-- versionCode42 - 1.2.0 - Faster network scan -->
    <!-- versionCode44 - 1.2.1 - Bug fixes for scanning -->
    <!-- versionCode46 - 1.2.2 - Return buttons, alert before leaving scanning, fix scan crash -->
    <!-- versionCode53 - 1.2.3 - port range check, date & time, new camera title, feedback, logentries, firebase, jpg view improvements-->
    <!-- versionCode58 - 1.2.4 - Take snapshot, show time based on timezone, force landscape-->
    <!-- versionCode62 - 1.2.5 - back button, quit add camera warning-->
    <!-- versionCode63 - 1.2.6 - bug fixes after holiday-->
    <!-- versionCode71 - 1.2.7 - switch to Android Studio, scan bug fix, view camera details, naming changes-->
    <!-- versionCode74 - 1.2.8 - home shortcut, account management-->
    <!-- versionCode80 - 1.2.9 - recording widget, menu item changes, feedback improvements, global default account, account management improves-->
    <!-- versionCode85 - 1.3.0 - Picasso, Keen.io, remove latest snapshot, request snapshot from Evercam, use thumbnail_url, live view cache fixes, remove country-->
    <!-- versionCode88 - 1.3.1 - Camera per row, bug fixes-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Cache requires it. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Only used for auto filling user's profile when create account -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- For creating camera shortcut on home screen-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <!-- Necessary for authentication-->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!-- Necessary for authentication - remove account-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".EvercamPlayApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_evercam_play"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <service android:name=".authentication.EvercamAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authentication"/>
        </service>

        <!-- Theme.Black.NoTitleBar previous value -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/app_tracker"/>

        <activity
            android:name=".video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/icon_evercam"
            android:label=""
            android:theme="@style/ActionBarOverlayTheme"
            android:screenOrientation="unspecified">
        </activity>
        <activity
            android:name=".SlideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- Accepts URIs that begin with "evercam://cameras/streams” -->
                <data
                    android:scheme="@string/data_scheme"
                    android:host="@string/data_host"
                    android:pathPrefix="@string/data_path"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:logo="@drawable/icon_evercam"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".SlideActivity">
        </activity>

        <activity
            android:name=".ManageAccountsActivity"
            android:icon="@drawable/icon_evercam"
            android:label="@string/accounts">
        </activity>
        <activity
            android:name=".CamerasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:launchMode="singleTop"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".CameraPrefsActivity"
            android:label="@string/title_settings"
            android:logo="@drawable/icon_evercam">
        </activity>

        <activity
            android:name=".AddEditCameraActivity"
            android:label="@string/title_activity_add_camera"
            android:windowSoftInputMode="stateHidden"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".ViewCameraActivity"
            android:label="@string/title_activity_view_camera"
            android:windowSoftInputMode="stateHidden"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".ScanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_scan"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".ReleaseNotesActivity"
            android:label="@string/title_release_notes"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".LocalStorageActivity"
            android:label="@string/title_activity_local_storage"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:logo="@drawable/icon_evercam">
        </activity>
        <activity
            android:name=".recordings.RecordingWebActivity"
            android:icon="@drawable/icon_evercam"
            android:label="@string/title_activity_recording_web"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:parentActivityName=".video.VideoActivity">
        </activity>
    </application>

</manifest>
